* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav""main""footer";
    row-gap: 20px;
    background-image: url(../media/monograma2.jpg);
    background-color: antiquewhite;
    background-blend-mode:color-burn;
    background-attachment: fixed;
}

<<<<<<< HEAD
nav a{
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
=======
a{
    text-decoration: none;
    color: white;
>>>>>>> 870bdfd09394e974286f034bc9472b23c465c9a8
}

#product_container > * {
    width: 100%;
    max-height: 100%;
}

<<<<<<< HEAD
#product_container a{
    color:white;
}

=======
>>>>>>> 870bdfd09394e974286f034bc9472b23c465c9a8
nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: whitesmoke;
    background-size:contain;
    background-image: url(../media/header.jfif);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#radio{
    display: flex;
}

main {
    grid-area: main;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
}

#product_container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 10px;
    column-gap: 20px;
}

#categorias-buscador-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#categorias-buscador-container p {
    width: fit-content;
}

#categorie-list form{
    background-color: rgb(138, 44, 44);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat (3, auto);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#categorie-list form > * {
    padding: 7px;
    font-weight: bolder;
}

#order{   
    border: rgb(214, 161, 92) 2px solid;
    background-color: rgb(138, 44, 44);
    grid-row: 1;
    grid-column: 3/5;
}

#categorias{
    border: rgb(214, 161, 92) 2px solid;
    background-color: rgb(138, 44, 44);
    grid-row: 1;
    grid-column: 1/3;
}

#quitar_filtro{
    grid-row: 3;
    grid-column: 3/5;
    background-color: rgb(75, 119, 75);
    color: white;
    border-bottom-right-radius: 10px;
}

#filtrar{
    grid-row: 3;
    grid-column: 1/3;
    background-color: rgb(75, 119, 75);
    color: white;
    border-bottom-left-radius: 10px;
}

#pages{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
}

li{
    list-style: none;
    width: 100%;
    background-color: rgb(238, 212, 180);
    border: solid 2px rgb(247, 205, 154);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.page_link{
    color: black;
}


/*Product cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(221, 192, 156);
    border: rgb(214, 161, 92) 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img{
    border-radius: 10px;
    height: 200px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(75, 119, 75);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/*Footer*/

footer {
    grid-area: footer;
    display: flex;
    background-color:  rgb(65, 18, 28);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer img {
    height: 50px;
    width: 20%;
}

#c_footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**Media Query**/

@media (max-width: 500px){

    #product_container {
        margin: 5px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 10px;
        column-gap: 20px;
    }

}